body {
    background-color: #e3d1b8;
    filter: sepia(20%);
}

.whole-guitar {
    height: 75vh;
    height: 100%;
    transform: scale(0.95); /* Adjust as needed */
    transform-origin: top center;
    position: relative;
}

.headstock-triangle {
    position: absolute;
    width: 150px; 
    height: 30px; 
    left: 50%;
    right: 50%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid rgb(160, 123, 75);
    transform: translate(-50%, -20%);
}

.headstock-rectangle {
    position: absolute;
    width: 190px;
    height: 90px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -111.1%);
    background-color: rgb(160, 123, 75);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
}


.guitar-body{
    position: absolute;
    background-color:rgb(160, 123, 75);
    left: 50%;
    right: 50%;
    width: 550px;
    height: 200px;
    top: 660px;
    transform: translate(-50%, -35%);
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}



/* ---------- FRETBOARD ----------- */

.fretboard{
    width: 150px;;
    height: 650px;
    background-color: rgb(124, 94, 55);
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    
}

.nut{
    position: absolute;
    background-color: rgb(205, 203, 169);
    height: 10px;
    width: 100%;
}

/* -------- STRINGS --------- */

.strings {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .string {
    position: absolute;
    width: 3px;
    height: 810px;
    background-color: rgb(230, 230, 230);
    transform: translate(0, -10%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }
  
  .string:nth-child(1) { left: 19px; }
  .string:nth-child(2) { left: 41px; }
  .string:nth-child(3) { left: 63px; }
  .string:nth-child(4) { left: 85px; }
  .string:nth-child(5) { left: 107px; }
  .string:nth-child(6) { left: 129px; }

/* ---------- FRETS ----------- */

  .frets {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .fret{
    position: absolute;
    width: 150px;
    height: 5px;
    background-color: silver;
  }

  .fret:nth-child(1) {top: 60px;} /* */ 
  .fret:nth-child(2) {top: 120px;} /* up 50*/
  .fret:nth-child(3) {top: 180px;} /* up 50 */
  .fret:nth-child(4) {top: 240px;} /* up 50 */
  .fret:nth-child(5) {top: 290px;} /* up 40*/
  .fret:nth-child(6) {top: 340px;} /* up 40*/
  .fret:nth-child(7) {top: 390px;} /* up 30*/
  .fret:nth-child(8) {top: 430px;} /* up 20*/
  .fret:nth-child(9) {top: 460px;} /* up 20*/
  .fret:nth-child(10) {top: 490px;} /* up 20*/
  .fret:nth-child(11) {top: 520px;} /* up 20*/
  .fret:nth-child(12) {top: 550px;} /* up 20*/
  .fret:nth-child(13) {top: 580px;} /* up 20*/
  .fret:nth-child(14) {top: 610px;} /* up 20*/
  .fret:nth-child(15) {top: 640px;} /* up 20*/

/* ----------- DOT INLAYS ---------- */

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
}

.dot {
    position: absolute;
    top: 148px;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    left: 68.5px;
    background-color:antiquewhite;
}

.dot:nth-child(1) {top: 263px;}
.dot:nth-child(2) {top: 360px;}
.dot:nth-child(3) {top: 440px;}
.dot:nth-child(5) {top: 530px;}
.dot:nth-child(5) {top: 530px; left: 25px;}
.dot:nth-child(6) {top: 530px; left: 112px;}
.dot:nth-child(7) {top: 620px;}


/* ------- silver DOTS -------- */
.E-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
}
 .e {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #C0C0C0;
    border-color: olive;
 }

 .e:nth-of-type(1) { top: 0px; left: 13px; }
 .e:nth-of-type(2) { top: 530px; left: 13px; }
 .e:nth-of-type(3) { top: 360px; left: 35px; }
 .e:nth-of-type(4) { top: 90px; left: 57px; }
 .e:nth-of-type(5) { top: 590px; left: 57px; }
 .e:nth-of-type(6) { top: 440px; left: 79px; }
 .e:nth-of-type(7) { top: 260px; left: 101px; }
 .e:nth-of-type(8) { top: 0px; left: 123px; }
 .e:nth-of-type(9) { top: 530px; left: 123px; }

 .F-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .f {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .f:nth-of-type(1) { top: 35px; left: 13px; }
 .f:nth-of-type(2) { top: 560px; left: 13px; }
 .f:nth-of-type(3) { top: 405px; left: 35px; }
 .f:nth-of-type(4) { top: 147px; left: 57px; }
 .f:nth-of-type(5) { top: 620px; left: 57px; }
 .f:nth-of-type(6) { top: 470px; left: 79px; }
 .f:nth-of-type(7) { top: 310px; left: 101px; }
 .f:nth-of-type(8) { top: 35px; left: 123px; }
 .f:nth-of-type(9) { top: 560px; left: 123px; }
 
 .Fs-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .fs {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .fs:nth-of-type(1) { top: 90px; left: 13px; }
 .fs:nth-of-type(2) { top: 590px; left: 13px; }
 .fs:nth-of-type(3) { top: 440px; left: 35px; }
 .fs:nth-of-type(4) { top: 205px; left: 57px; }
 .fs:nth-of-type(5) { top: 500px; left: 79px; }
 .fs:nth-of-type(6) { top: 360px; left: 101px; }
 .fs:nth-of-type(7) { top: 90px; left: 123px; }
 .fs:nth-of-type(8) { top: 590px; left: 123px; }

 .G-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .g {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .logo {
    position: relative;
    font-family: 'Major Mono Display';
    color: white;
    font-size: 100px;
    background-color: olive;
    text-align: center;
    height: 25%;
    z-index: 10;
  }
  
  @keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
  }
  

 .g:nth-of-type(1) { top: 147px; left: 13px; }
 .g:nth-of-type(2) { top: 620px; left: 13px; }
 .g:nth-of-type(3) { top: 470px; left: 35px; }
 .g:nth-of-type(4) { top: 260px; left: 57px; }
 .g:nth-of-type(5) { top: 0px; left: 79px; }
 .g:nth-of-type(6) { top: 530px; left: 79px; }
 .g:nth-of-type(7) { top: 405px; left: 101px; }
 .g:nth-of-type(8) { top: 147px; left: 123px; }
 .g:nth-of-type(9) { top: 620px; left: 123px; }

 .Gs-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .gs {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .gs:nth-of-type(1) { top: 205px; left: 13px; }
 .gs:nth-of-type(2) { top: 500px; left: 35px; }
 .gs:nth-of-type(3) { top: 310px; left: 57px; }
 .gs:nth-of-type(4) { top: 35px; left: 79px; }
 .gs:nth-of-type(5) { top: 560px; left: 79px; }
 .gs:nth-of-type(6) { top: 440px; left: 101px; }
 .gs:nth-of-type(7) { top: 205px; left: 123px; }

 .A-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .a {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .a:nth-of-type(1) { top: 260px; left: 13px; }
 .a:nth-of-type(2) { top: 0px; left: 35px; }
 .a:nth-of-type(3) { top: 530px; left: 35px; }
 .a:nth-of-type(4) { top: 360px; left: 57px; }
 .a:nth-of-type(5) { top: 90px; left: 79px; }
 .a:nth-of-type(6) { top: 590px; left: 79px; }
 .a:nth-of-type(7) { top: 470px; left: 101px; }
 .a:nth-of-type(8) { top: 260px; left: 123px; }

 .As-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .as {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .as:nth-of-type(1) { top: 310px; left: 13px; }
 .as:nth-of-type(2) { top: 35px; left: 35px; }
 .as:nth-of-type(3) { top: 560px; left: 35px; }
 .as:nth-of-type(4) { top: 405px; left: 57px; }
 .as:nth-of-type(5) { top: 147px; left: 79px; }
 .as:nth-of-type(6) { top: 620px; left: 79px; }
 .as:nth-of-type(7) { top: 500px; left: 101px; }
 .as:nth-of-type(8) { top: 310px; left: 123px; }

 .B-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .b {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .b:nth-of-type(1) { top: 360px; left: 13px; }
 .b:nth-of-type(2) { top: 90px; left: 35px; }
 .b:nth-of-type(3) { top: 590px; left: 35px; }
 .b:nth-of-type(4) { top: 440px; left: 57px; }
 .b:nth-of-type(5) { top: 205px; left: 79px; }
 .b:nth-of-type(6) { top: 620px; left: 79px; }
 .b:nth-of-type(7) { top: 0px; left: 101px; }
 .b:nth-of-type(8) { top: 530px; left: 101px; }
 .b:nth-of-type(9) { top: 360px; left: 123px; }

 .C-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .c {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .c:nth-of-type(1) { top: 405px; left: 13px; }
 .c:nth-of-type(2) { top: 147px; left: 35px; }
 .c:nth-of-type(3) { top: 620px; left: 35px; }
 .c:nth-of-type(4) { top: 470px; left: 57px; }
 .c:nth-of-type(5) { top: 260px; left: 79px; }
 .c:nth-of-type(6) { top: 620px; left: 79px; }
 .c:nth-of-type(7) { top: 35px; left: 101px; }
 .c:nth-of-type(8) { top: 560px; left: 101px; }
 .c:nth-of-type(9) { top: 408px; left: 123px; }

 .Cs-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .cs {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .cs:nth-of-type(1) { top: 440px; left: 13px; }
 .cs:nth-of-type(2) { top: 205px; left: 35px; }
 .cs:nth-of-type(3) { top: 500px; left: 57px; }
 .cs:nth-of-type(4) { top: 310px; left: 79px; }
 .cs:nth-of-type(5) { top: 620px; left: 79px; }
 .cs:nth-of-type(6) { top: 90px; left: 101px; }
 .cs:nth-of-type(7) { top: 590px; left: 101px; }
 .cs:nth-of-type(8) { top: 440px; left: 123px; }

 .D-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .d {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }

 .d:nth-of-type(1) { top: 470px; left: 13px; }
 .d:nth-of-type(2) { top: 260px; left: 35px; }
 .d:nth-of-type(3) { top: 0px; left: 57px; }
 .d:nth-of-type(4) { top: 530px; left: 57px; }
 .d:nth-of-type(5) { top: 360px; left: 79px; }
 .d:nth-of-type(6) { top: 147px; left: 101px; }
 .d:nth-of-type(7) { top: 620px; left: 101px; }
 .d:nth-of-type(8) { top: 470px; left: 123px; }
 

 .Ds-Notes {
    position: absolute;
    width: 100%;
    height: 100%;
 }

 .ds {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: silver;
 }



 .ds:nth-of-type(1) { top: 500px; left: 13px; }
 .ds:nth-of-type(2) { top: 310px; left: 35px; }
 .ds:nth-of-type(3) { top: 35px; left: 57px; }
 .ds:nth-of-type(4) { top: 560px; left: 57px; }
 .ds:nth-of-type(5) { top: 405px; left: 79px; }
 .ds:nth-of-type(6) { top: 205px; left: 101px; }
.ds:nth-of-type(7) { top: 500px; left: 123px; }

/* 
0 fret: 0
1 fret: 35
2 fret: 90
3 fret: 147
4 fret: 205
5 fret: 260
6 fret: 310
7 fret: 360
8 fret: 405
9 fret: 440
10 fret: 470
11 fret: 500
12 fret: 530
13 fret: 560
14 fret: 590
15 fret: 620
*/

.Display{
    position: absolute;
    width: 250px;
    height: 450px;
    background-color:rgb(160, 123, 75);
    top: 75px;
    left: 65%;
    border-radius: 15px;
}

.top-part{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: olive;
    font-family: 'Fascinate Inline', cursive; 
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 30px;
}

.strum{
    position: absolute;
    width: 150px;
    height: 50px;
    top: 375px;
    left: 50px;
    background-color: red;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 9px;
    font-size: 30px;
    font-family: 'Fascinate Inline', cursive;
}

.Chord {
    position: absolute;
    width: 125px;
    height: 125px;
    top: 220px;
    left: 62px;
    background-color:olive;
    color: white;
    display: grid;
    place-items: center;
    border-radius: 10px;
    font-size: 25px;
    font-family: 'Fascinate Inline', cursive;
}

.notes {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 115px;
    left: 27px;
    background-color: olive;
    display: grid;
    place-items: center;
    color: white;
    font-family: 'Fascinate Inline', cursive;

}








